# Results model

## Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Data cleaning

In [4]:
data = pd.read_csv("results.csv")
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [5]:
print(data.describe())

         home_score    away_score
count  47980.000000  47980.000000
mean       1.758691      1.182388
std        1.773369      1.400001
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000